<script>
$(function(){
    var availableTags = <%= raw @clubs %>;

    function split( val ) {
          return val.split( /,\s*/ );
        }
        function extractLast( term ) {
          return split( term ).pop();
        }

    $("#registration_club")
          .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
                $( this ).data( "autocomplete" ).menu.active ) {
              event.preventDefault();
            }
          })
          .autocomplete({
            minLength: 0,
            source: function( request, response ) {
              // delegate back to autocomplete, but extract the last term
              response( $.ui.autocomplete.filter(
                availableTags, extractLast( request.term ) ) );
            },
            focus: function() {
              // prevent value inserted on focus
              return false;
            },
            select: function( event, ui ) {
                this.value = ui.item.value;
                return false;
            }
          });


});
</script>



<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= @registration.errors.count %> fel i formuläret:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :weight_class_id %>
    <select id="registration_weight_class_id" name="registration[weight_class_id]">
        <% age = nil %>
        <% @weight_classes.each do |wc| %>
            <% if age != wc.age %>
              <% age = wc.age %>
            <optgroup label="<%= age.capitalize %> (<%= t(age) %>)">
            <% end %>
          <option value="<%= wc.id %>" <%= "selected" if @registration.weight_class_id == wc.id %>><%= wc.name %></option>
        <% end %>
    </select>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :club %>
    <%= f.text_field :club %>
  </div>
  <div class="actions">
    <%= f.submit "Anmäl" %>
  </div>
<% end %>
