<h1>Matchordning</h1>

<table>
  <thead>
  <tr>
    <th>FM/EM</th>
    <th>Matta</th>
    <th>Viktklass</th>
    <th>Röd</th>
    <th>Blå</th>
  </tr>
  </thead>
  <tbody>
  <% @class_schedule.each_pair do |weight_class_id, fights| %>
    <% fights.each do |fight| %>
      <tr>
        <td><%= am_pm(@weight_classes[weight_class_id]) %></td>
        <td><%= mat(@weight_classes[weight_class_id]) %>

        </td>
        <td><%= @weight_classes[weight_class_id].name(true) %></td>
        <td><%= fight.team_a %></td>
        <td><%= fight.team_b %></td>
      </tr>
    <% end %>
  <% end %>
  <% @separately.each_pair do |weight_class_id, fighters| %>
    <% (1..@ladder_matches.fetch(fighters.length)).each do |i| %>
        <% weight_class = @weight_classes[weight_class_id] %>
      <tr>
        <td><%= am_pm(weight_class) %></td>
        <td><%= mat(weight_class) %>
        <td><%= weight_class.name(true) %></td>
        <td>Match <%= i %></td>
        <td></td>
    </tr>
    <% end %>

  <% end %>

  </tbody>
  <% @separately.each_pair do |wc, fighters| %>
      <thead>
        <tr>
            <th colspan="5"><%= @weight_classes[wc].name(true) %> (<%= fighters.length %> spelare -> <%= @ladder_matches.fetch(fighters.length, "?") %> matcher)</th>
        </tr>
      </thead>
      <tbody>
      <% fighters.each do |fighter| %>
        <tr>
          <td colspan="5"><%= fighter %></td>
        </tr>
      <% end %>
      </tbody>
  <% end %>
</table>
