<h1>Matchordning</h1>

<table>
  <thead>
  <tr>
    <th>FM/EM</th>
    <th>Matta</th>
    <th>Viktklass</th>
    <th>Röd</th>
    <th>Blå</th>
  </tr>
  </thead>
  <tbody>
  <% @class_schedule.each_pair do |weight_class_id, fights| %>
    <% fights.each do |fight| %>
      <tr>
        <td><%= ["senior", "U18"].include?(@weight_classes[weight_class_id].age) ? "EM" : "FM" %></td>
        <td>
          <% if
              (@weight_classes[weight_class_id].beginner_elite == "elit" ||
              @weight_classes[weight_class_id].age == "U18")
          %>A
          <% elsif @weight_classes[weight_class_id].age == "senior" &&
                  @weight_classes[weight_class_id].beginner_elite == "nyborjare" %>
          B
          <% end %>

        </td>
        <td><%= @weight_classes[weight_class_id].name(true) %></td>
        <td><%= fight.team_a %></td>
        <td><%= fight.team_b %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
  <% @separately.each_pair do |wc, fighters| %>
      <thead>
        <tr>
            <th colspan="5"><%= @weight_classes[wc].name(true) %> (<%= fighters.length %> spelare -> <%= @ladder_matches.fetch(fighters.length, "?") %>)</th>
        </tr>
      </thead>
      <tbody>
      <% fighters.each do |fighter| %>
        <tr>
          <td colspan="5"><%= fighter %></td>
        </tr>
      <% end %>
      </tbody>
  <% end %>
</table>
