<!DOCTYPE html>
<html>
<head>
  <title>SKIFT OPEN: JFL 5</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css"></script>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <a href="/" id="logo" title="SKIFT kampsport"><img alt="Logo_left" src="http://skift.se/assets/logo_left.png"></a>
      <nav>
        <div class="container">
            <ul class="nav nav-pills">
              <li><%= link_to "Information", "/" %></li>
              <li><%= link_to "Anmälan", new_registration_path  %></li>
              <li><%= link_to "Anmälda", registrations_path %></li>
            </ul>
        </div>
      </nav>


    </header>

    <div class="container main">
      <div class="row">
        <div class="offset1">
            <%= yield %>
        </div>
      </div>
    </div>

</body>
</html>
